
body{
  background-color: rgb(17, 141, 218);
  text-align: center;
}
p{
  font-family: noteworthy;
  color:gold;
}
ul{
  background-color: maroon;
  font: noteworthy;
  color:rgb(194, 131, 225);
  text-align: left;
}
h1{
  font-family: noteworthy;
  font-size:70px ;
  color: rgb(75, 50, 199);
  text-align: center;
}
h2{
  font-family: noteworthy;
  font-size:40px ;
  color: maroon;
  text-align: center;
}   
.my-box {
  box-sizing: border-box;
  width: 200px;
  border: 10px solid;
  padding: 20px;
}
